@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Welcome{
    border: solid 10px grey;
    background-color: azure;
}
.App{
    background-color: white;
    border: 3px solid red;

}